@model PizzaShopThreeLayer.Models.UploadProductViewModel

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divMain">
    @*@Html.ValidationSummary()*@
    @{Html.EnableClientValidation();}
    @{Html.EnableUnobtrusiveJavaScript();}
    @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new {id = "FormUpload" }))
    {
        <main class="mainEdit">
            <div class="container">
                <div class="wrapper">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <form class="form">
                        @Html.HiddenFor(x=>x.Id)
                        @Html.HiddenFor(x => x.Absolutepath)
                        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {type = "text", PlaceHolder = "Наименование товара", @class = "nameEdit"}})
                        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})

                        @Html.EditorFor(model => model.Description, new {htmlAttributes = new {type = "text", PlaceHolder = "Описание товара", @class = "descryptionEdit"}})
                        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})

                        @Html.EditorFor(model => model.Price, new {htmlAttributes = new {type = "number", PlaceHolder = "Цена товара", @class = "priceEdit"}})
                        @Html.ValidationMessageFor(model => model.Price, "", new {@class = "text-danger"})



                        <input type="submit" class="fileSubmitEdit" value="Сохранить изменения">
                    </form>
                </div>
            </div>
        </main>
    }


</div>


@*<div id="divMain">
          @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.Absolutepath)
        <div class="form-group">
            @Html.LabelFor(x => x.Name, "Название продкута")
            @Html.TextBoxFor(x => x.Name, new { placeholder = "Введите название" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Description, "Описание продукта")
            @Html.TextAreaFor(x => x.Description, new { placeholder = "Введите описание" })
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Price, "Цена")
            @Html.TextAreaFor(x => x.Price, new { placeholder = "Введите цену" })
        </div>

        <button type="submit" class="btn btn-success" id="submit">Сохранить изменения</button>
    }


</div>*@


@section Footer{

}





